* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins";
}

html,
body {
  min-height: 100%;
  width: 100%;
  background-color: rgb(177, 185, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  /* background-color: rgb(7, 7, 24); */
  height: 450px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 3px solid rgb(252, 250, 250);

  position: relative;
}

.container img {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

.container i {
  color: rgb(236, 23, 23);
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
  transition: transform ease 10.5s;
}
